/* JM, 02/19/26 */

/* Root styles */

:root {
  font-size: 24px;
  font-size: clamp(1em, calc(1vw + 0.6em), 1.125em);

  --dodgerblue: hsl(210, 100%, 56%);
  --navy-blue: hsl(251, 52%, 13%);
  --yellow: hsl(58, 73%, 62%);
  --orange: hsl(17, 100%, 68%);
  --red: hsl(1, 82%, 66%);

  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  box-sizing: border-box;
  /* line-height: 1.4; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Double container */

#wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: [left] auto [content] 1fr auto [right];
}

main {
  display: grid;
  grid-template-columns: [left] 1fr [content] 92.5vw 1fr [right];
}

#wrapper > *,
main > * {
  grid-column: content;
}

.full-bleed {
  grid-column: left / right;
  width: 100%;
}

/* General selectors */

/* main .full-bleed {
  padding-left: 3.75vw;
  padding-right: 3.75vw;
} */

/* main section,
main > aside {
  margin: 2em 0;

  & h2 {
    margin-top: 0;
  }
} */

/* p,
figcaption {
  max-width: 80ch;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Electrolize", "Times New Roman", Times, serif;
}

p,
a {
  font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 32rem) {
}

@media (min-width: 48rem) {
  /* maybe? */
}
